{% extends 'base.html' %}
{% load thumbnail %}
{% load utils %}

{% block title %}IvLichen – Fiche de {{ taxon.name }}{% endblock %}

{% block content %}
    <div class="bg-amazon-10 min-w-max pt-8 pb-4">
        <div class="container mx-32 text-white">
            <div>{{ taxon.get_division_display }} / {{ taxon.family }}</div>
            <h1 class="font-display text-3xl"><i class="font-weight-bold italic">{{ taxon.name }}</i> {{ taxon.authors }} ({{ taxon.publication_year }})</h1>
        </div>
    </div>

    <div class="mt-8 pb-2 py-4 min-w-max mx-32">
        <div class="flex justify-content-center">
            <div class="container rounded-md bg-white p-2 w-1/2 shadow-md">
                <h2 class="text-xl mb-1 text-gray-30">Remarques</h2>
                <p class="justify">{{ taxon.remarks|markdown|safe }}</p>
            </div>

            <div class="container rounded-md bg-white ml-4 p-2 w-1/2 shadow-md">
                <h2 class="text-xl mb-1 text-gray-30">Illustration</h2>
                {% if taxon.cover_illustration.file.file|is_portrait %}
                    {% thumbnail taxon.cover_illustration.file.file "x400" crop="center" as img %}
                        <img src="{{ img.url }}" alt="{{ species.cover_illustration.legend }}" class="mx-auto object-cover object-center h-64 w-100 gray">
                    {% endthumbnail %}
                {% else %}
                    {% thumbnail taxon.cover_illustration.file.file "400" crop="center" as img %}
                        <img src="{{ img.url }}" alt="{{ species.cover_illustration.legend }}" class="mx-auto object-cover object-center h-64 w-100 gray">
                    {% endthumbnail %}
                {% endif %}
            </div>
        </div>
        <div class="mt-8 flex justify-content-center">
            <div class="container rounded-md bg-white p-2 w-1/2 shadow-md">
                <h2 class="text-xl mb-1 text-gray-30">Données écologiques</h2>
                <p>
                    <b>Statut trophique</b> : {{ taxon.get_trophic_mode_display }}<br>
                    <b>Forme du thalle</b> : {{ taxon.get_shape_display }}
                </p>
            </div>

            <div class="container rounded-md bg-white ml-4 p-2 w-1/2 shadow-md">
                <h2 class="text-xl mb-1 text-gray-30">Observations</h2>
            </div>
        </div>
    </div>
{% endblock %}